$sidebar-item-height: 50px;

//light theme
:root {
  [sidebar-active="active"] {
    --sidebar-text-weight: bold;
    --sidebar-text-color: rgb(20, 20, 27);
    --sidebar-active-bar: rgb(52, 133, 255);
  }
  //normal
  --sidebar-bg-color: #fff;
  --sidebar-text-color: rgb(114, 114, 114);
  --sidebar-dropdown-bg-color: rgb(235, 235, 235);

  //hover
  --sidebar-bg-color-hover: #d4e5ff;
  --sidebar-text-color-hover: #505050;
}

//dark theme
[sidebar-theme="dark"] {
  [sidebar-active="active"] {
    --sidebar-text-weight: bold;
    --sidebar-text-color: #fff;
    --sidebar-active-bar: rgb(52, 133, 255);
  }
  //normal
  --sidebar-bg-color: rgb(20, 20, 27);
  --sidebar-text-color: rgb(194, 194, 194);
  --sidebar-dropdown-bg-color: rgb(41, 41, 41);
  
  //hover
  --sidebar-bg-color-hover: #3b3b3b;
  --sidebar-text-color-hover: #fff;
}
