//general color
$color-white: #fff;
$color-border-light: #d3d3d3;
$background-color: #d3d3d3;

//header
$header-background-color: #030038;
$header-background-color-hover: #827FBA;
$header-border-color-hover: #DBE833;
$header-background-color-expand: #27245c;
$header-nav-text-color: #fff;
$header-logo-text-color: #fff;

//sidebar
$sidebar-background-color: #030038;
$sidebar-background-color-light: #2d2b50;
$sidebar-background-color-hover: #827FBA;
$sidebar-background-color-expand: #33306e;
$sidebar-border-color-hover: #DBE833;

//btn color
$btn-color: #0026E7;

//font
$zh: Microsoft JhengHei;



//Utilities
@mixin block($width: 0, $height: auto, $radius: 0, $background-color: $color-white) {
  @if ($width!=0) {
    width: $width;
  }
  @if ($height != auto) {
    height: $height;
  }
  @if $radius!=0 {
    border-radius: $radius;    
  }
  @if $background-color != $color-white {
    background-color: $background-color;
  }
}

@mixin border($style: solid, $width: 1px, $color: $color-border-light) {
  border-style: $style;
  border-width: $width;
  border-color: $color;
}

@mixin partialRadius($topLeft: 0, $topRight: 0, $bottomLeft: 0, $bottomRight: 0) {
  @if $topLeft!=0 {
    border-top-left-radius: $topLeft;
  }
  @if $topRight!=0 {
    border-top-right-radius: $topRight;
  }
  @if $bottomLeft!=0 {
    border-bottom-left-radius: $bottomLeft;
  }
  @if $bottomRight!=0 {
    border-bottom-right-radius: $bottomRight;
  }
}