//general color
$color-white: #fff;
$color-border-light: #d3d3d3;
$background-color: #eeeeee;


//btn color
$btn-color: #0026E7;

//font
$zh: Microsoft JhengHei;



//Utilities
@mixin block($width: 0, $height: auto, $radius: 0) {
  @if ($width!=0) {
    width: $width;
  }
  @if ($height != auto) {
    height: $height;
  }
  @if $radius!=0 {
    border-radius: $radius;    
  }
}

@mixin border($style: solid, $width: 1px, $color: $color-border-light) {
  border-style: $style;
  border-width: $width;
  border-color: $color;
}

@mixin partialRadius($topLeft: 0, $topRight: 0, $bottomLeft: 0, $bottomRight: 0) {
  @if $topLeft!=0 {
    border-top-left-radius: $topLeft;
  }
  @if $topRight!=0 {
    border-top-right-radius: $topRight;
  }
  @if $bottomLeft!=0 {
    border-bottom-left-radius: $bottomLeft;
  }
  @if $bottomRight!=0 {
    border-bottom-right-radius: $bottomRight;
  }
}