//general color
$color-white: #fff;
$color-yellow: #D69721;
$color-azure: #4D94BB;
$color-red: #C45857;
$color-green: #0E9A36;

$color-red-light: #eb807e;
$color-green-light: #28be53;

//component color
$border-color: #d3d3d3;
$border-color-grey: #505050;

//background
$background-color: #000;

//font
$aphabet: MS Sans Serif;
$zh: Microsoft JhengHei;

:root {
  --bg-color: rgb(27, 27, 34);
  --bg-color-snd: rgb(37, 39, 49);
  --bg-color-trd: rgb(64, 68, 87);
  --bg-color-forth: rgb(102, 107, 133);

  --bg-color-opposite: rgb(219, 219, 219);

  --text-color: rgb(184, 184, 184);
  --text-color-light: rgb(214, 214, 214);
  --text-color-hover: rgb(230, 230, 230);

  --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
[theme="light"] {
  --bg-color: #fff;
}


@mixin block($width: 0, $height: auto, $radius: 0) {
  width: $width;
  height: $height;
  border-radius: $radius;
}

@mixin border($width: 1px, $color: $border-color, $style: solid) {
  border-width: $width;
  border-color: $color;
  border-style: $style;
}