// hover color
[hover-effect="on"] {
  [hover-style="light"] {
    --table-hover-color: #eaf4ff;
  }
  [hover-style="dark"] {
    --table-hover-color: rgb(53, 56, 65);
  }
}
[hover-effect="off"] {
  --table-hover-color: '';
}